<!DOCTYPE html>
<html>
<head>
    <title>Ingresar Datos de Tarjeta de Crédito</title>
    <script src="https://js.stripe.com/v3/"></script>
    
</head>
<body>
    <h1>Ingresar Datos de Tarjeta de Crédito</h1>
    

    <form id="payment-form" style="width: 35rem;"  >
      
        <div id="card-element"   > 
            <!-- Stripe.js inyectará los elementos aquí -->
        </div>
        <input type="hidden" id="payment-intent-id" value="{{paymentIntentId.id}}">
        <button type="submit">Pagar ticket</button>
        
      <div id="success-message" style="display: none; color: green;">
        ¡El pago se ha completado exitosamente!
    </div>
    <div id="error-message" style="display: none; color: red;">
        Ha ocurrido un error al procesar el pago.
    </div>


    </form>
    <script>
        //const stripe = Stripe('{{stripePublicKey}}'); // Usa la clave pública de Stripe
        const stripe = Stripe('pk_test_51Na5XIFIy5BqTdQVdls6nGMlxvhSY7O7V84f2tOP1KfQcW9dqysZP1Rds1IxijjTwfGb8AO0OYOMi0wjAFht9qtf00jsh9uJE1');
        const elements = stripe.elements();
        const card = elements.create('card');
        card.mount('#card-element');

        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async event => {
            event.preventDefault();

            const paymentIntentId = document.getElementById('payment-intent-id').value;
            
            
            const { token, error } = await stripe.createToken(card);
            if (error) {
                console.error(error);
            } else {
                // Envía el token y el payment-intent-id a tu servidor para completar el pago
                fetch('/processpayment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ token: token, paymentIntentId })
                })
                .then(response => response.json())
                .then(data => {
                  
                     console.log("xxv " ,  data.message);
                    // Puedes mostrar un mensaje al usuario o redirigir aquí
                       if (data.success) {
                // Mostrar el mensaje de éxito
                document.getElementById('success-message').style.display = 'block';
            } else {
                // Mostrar el mensaje de fallo
                document.getElementById('error-message').style.display = 'block';
            }
                })
                .catch(error => console.error(error));
                 
            }
        });
    </script>
</body>
</html>
