<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/api/sessions/current">Current</a>
        </li>
      </ul>
      <div><button id="logout">Log out</button></div>
    </div>
  </div>
</nav>
<div>
  <h1>Pagina de Mensajes</h1>
  
  <label>Msj: {{error}}</label>
  
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/profile.js"></script>
