<div>

  <h1>Login</h1>
  <form id="loginForm">
    <div class="">
        <label>Email</label>
        <input name="email" />
        <br />
        <label>Contraseña</label>
        <input type="password" name="password" />
        <input type="submit" />  
    </div>
  </form>
 
  <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
   <p><a href="/restore">¿Olvidaste tu contraseña?</a> </p>

   <div>
  <a href="/api/sessions/github"><button>Entrar con GitHub</button></a>
</div>

</div>
<script src="/js/login.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


