<div>
  <h1>Restablecer Password</h1>
  <form id="passRestoreForm">
    <table>
      <!--tr>
        <td><label>Email</label></td>
        <td><input name="email" /></td>
      </tr-->
      <tr>
        <td><label>New Password</label></td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" /></td>
      </tr>
    </table>
  </form>
   <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>
<script src="/js/restablecer.js"></script>